<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Texttutils</title>
</head>
<body>
hehe i still dont know what to do-->
<!--{{name}} has age {{age}}-->
<!-- <h1>Welcome to text analyzer. Enter your text below.
</h1> -->
<!-- <form action='/analyze' method="get">
    <textarea name="text" style="user-select: auto; height: 188px; width: 796px;"></textarea>
    <br>
    <input type="checkbox" name='removepunc'>Remove punctuations<br>
    <input type="checkbox" name='capitalize'>Capitalize your text<br>
    <input type="checkbox" name='newlineremove'>New line remove<br>
    <input type="checkbox" name='extraspaceremove'>Extra space remove<br>
    <input type="checkbox" name='charcount'>Counts characters<br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html> --> 